<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>新規登録</title>

    <%= stylesheet_link_tag "top/Dark-NavBar", :media => "all" %>
    <%= stylesheet_link_tag "top/Footer-Basic", :media => "all" %>
    <%= stylesheet_link_tag "top/Features-Clean", :media => "all" %>
    <%= stylesheet_link_tag "top/Highlight-Phone", :media => "all" %>
    <%= stylesheet_link_tag "signup/Registration-Form-with", :media => "all" %>
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height: 70px;background-color: rgb(4,143,131);color: #ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="/"><i class="fas fa-cube"></i>&nbsp;Testter</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" style="color: rgb(255,255,255);"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation" style="background-color: rgb(4,143,131);"><a class="nav-link" style="color:#ffffff;" href="/users/new"><i class="fas fa-user-plus"></i>&nbsp;新規登録</a></li>
                        <li class="nav-item" role="presentation" style="background-color: rgb(4,143,131);"><a class="nav-link" style="color:#ffffff;" href="/users/login_form"><i class="fas fa-sign-in-alt"></i>&nbsp;ログイン</a></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <div class="features-clean"></div>
    <div class="register-photo">
        <div class="form-container">
        <%= form_tag("/users/create") do %>
                <h2 class="text-center" style="color: rgb(0,153,135);"><strong>アカウントの作成</strong></h2>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" value="<%= @user.email %>"></div>
                <div class="form-group"><input class="form-control" type="name" name="name" placeholder="Name" value="<%= @user.name %>"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"　value="<%= @user.password %>"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(4,143,131);color: #ffffff;">作成</button></div>
                <% @user.errors.full_messages.each do |message| %>
                    <div class="form-error">
                      <%= message %>
                    </div>
                  <% end %>
                <a class="already" href="/users/login_form">アカウントお持ちの場合はこちら</a>
        <% end %>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
        <div class="social"><a href="https://github.com/t4k3p0n"><i class="fab fa-github"></i></i></a><a href="https://twitter.com/takepon_it"><i class="fab fa-twitter"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Copyright takepon © 2020</p>
        </footer>
    </div>
    <div></div>
    <%= javascript_include_tag 'jquery.min.js' %>
    <%= javascript_include_tag 'Features.js' %>
    <%= javascript_include_tag 'MUSA_form-wizard.js' %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <%= javascript_include_tag 'script.min.js' %>